<%# header.ejsの読み込み%>
<%- include('header') -%>

  <div id="contents">
    <div id="rankings">
      ダミー　ランキング
    </div>

    <div id="description">
      ダミー　ゲームの説明
    </div>
  </div>

  <a href="/game">
    <div class="button">
      <span>とりあえず始める</span>
    </div>
  </a>



  <%# socket.ioとchat.jsを読み込む%>
  <script src='/socket.io/socket.io.js'></script>
  <script src='javascripts/chat.js'></script>

<%# footer.ejsの読み込み%>
<%- include('footer') -%>
