<%# header.ejsの読み込み%>
<%- include('header') -%>

<div id="contents">
  <div id="content">
    <div id="rankings">
      ダミー　ランキング
    </div>

    <div id="description">
      <h1 id='midasi'>「人工知能にゴマをする」</h1>
      <h2>シンギュラリティ...</h2>
      <p>2045年にはAI人工知能が人間の知能を超えるとされています <br>要するにターミーネーター的な時代がくるかもっていうことです
        <br>それやばくないですか?やばいですよね?<br>
      じゃあ、AIと戦いましょうよ!!<br>
       人工知能にゴマをする練習をしようという革新的なチャットゲームを作りました。</p>
       <br>
       <h3>・会話は全部で5ターン <br><br>・1ゲーム約1分 <br>・細かいルールは無し、ただAIと会話するだけ <br>・</h3>
    </div>
  </div>

  <a id='startBtn' href="/game">
    <div class="button">
      <span>とりあえず始める</span>
    </div>
  </a>

  <div id='signUpBtn' class="button">
    <span>新規登録</span>
  </div>

  <div id='loginBtn' class="button">
    <span>ログイン</span>
  </div>

  <div id="loginForm">
    <h1>ログイン</h1>
    <form action="/login" method="post">
      <div>
          <label>ユーザーID：</label>
          <input type="text" name="username"/>
      </div>
      <div>
          <label>パスワード：</label>
          <input type="password" name="password"/>
      </div>
      <div>
          <input type="submit" value="ログイン"/>
      </div>
    </form>
  </div>

</div>

<div id="footer">
  <span>footer</span>
</div>


  <%# socket.ioとchat.jsを読み込む%>
  <script src='/socket.io/socket.io.js'></script>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src='javascripts/index.js'></script>

<%# footer.ejsの読み込み%>
<%- include('footer') -%>
