<%# header.ejsの読み込み%>
<%- include('header') -%>

<div id="contents">
  <div id="content">
    <div id="rankings">
      <h3>ユーザーランキング</h3>
    </div>

    <div id="description">
      <h1 id='midasi'>「人工知能にゴマをする」</h1>
      <h2>シンギュラリティ...</h2>
      <p>2045年には人工知能AIが人類の知能を超えるのではと言われています
        <br>それって想像したらめちゃくちゃ怖くないですか?
        <br>そこで、そんな技術的特異点が訪れた時のためにゲームを作りました</p>
       <br>
       <h3>ルールはかんたん</h3>
       <p>・対戦相手は人間です、ランダムに決まります</p>
       <p>・対話型AIと5ターンの会話をして、好感度をあげます</p>
       <p>・5ターン終了後、好感度の合計で競います</p>
       <p>注:AIは思ったより空気が読めません</p>
       <p>多少はイライラするかもしれません</p>
    </div>
  </div>

  <a id='startBtn' href="/game">
    <div class="button">
      <span>とりあえず始める</span>
    </div>
  </a>

  <div id='signUpBtn' class="button">
    <span>新規登録</span>
  </div>

  <div id='loginBtn' class="button">
    <span>ログイン</span>
  </div>

  <div id="loginForm">
    <h1>ログイン</h1>
    <form id="login_form">
      <input id ='login_name'type="text" name="name" placeholder="Email"/>
      <input id= 'login_pass' type="password" name="password" placeholder="Password"/>
      <input type="submit" value="ログイン"/>
    </form>
  </div>

  <div id="signUpForm">
    <h1>新規登録</h1>
    <form id="signUp_form">
      <input id='sign_name' type="text" name="name" placeholder="name"/>
      <input id='sign_pass' type="password" name="password" placeholder="Password"/>
      <input type="submit" value="新規登録"/>
    </form>
  </div>

</div>

<div id="footer">
  <span>© 2017 Takumi Nakao</span>
</div>


  <%# socket.ioとchat.jsを読み込む%>
  <script src='/socket.io/socket.io.js'></script>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src='javascripts/index.js'></script>

<%# footer.ejsの読み込み%>
<%- include('footer') -%>
