<%# header.ejsの読み込み%>
<%- include('header') -%>

<div id="contents">
  <div id="content">
    <div id="rankings">
      <h1>UserRanking</h1>
      <p>~~~~~~~~~~~~~~~~~~~~~~~</p>
      <table id='rankingsTable'>
        <tr id='rank_0'>
        </tr>
        <tr id='rank_1'>
        </tr>
        <tr id='rank_2'>
        </tr>
        <tr id='rank_3'>
        </tr>
        <tr id='rank_4'>
        </tr>
      </table>
    </div>

    <div id="description">
      <h1 id='midasi'>「人工知能にゴマをする」</h1>
      <h2>Singularity<技術的特異点></h2>
      <p>ある発明家の研究によると2045年には、<br>人工知能が人類の知能を超えるのではと言われています。
        <br>それって想像したらめちゃくちゃ怖くないですか?
        <br>そこで、そんな日が訪れた時のために対AI型チャットゲームを作りました。</p>
       <br>
       <h2>ルールはめちゃくちゃかんたん</h2>
       <p>・対戦相手は人間です、アクセスしている人からランダムに決まります</p>
       <p>・対話型AIと5ターンの会話で頑張って好感度をあげます</p>
       <p>・5ターン終了後、最終好感度で競います</p>
       <h4>基本はそんだけ、でも割とむずいで...↓↓↓</h4>
    </div>
  </div>

  <a id='startBtn' href="/game/ゲスト">
    <div class="button">
      <span>とりあえずはじめる</span>
    </div>
  </a>

  <div id='loginBtn' class="button">
    <span>ログイン</span>
  </div>

  <div id='signUpBtn' class="button">
    <span>サインイン</span>
  </div>



  <div id="loginForm">
    <h1>Login</h1>
    <form id="login_form">
      <input id ='login_name'type="text" name="name" placeholder="username"/>
      <input id= 'login_pass' type="password" name="password" placeholder="Password"/>
      <input type="submit" value="ログイン"/>
    </form>
  </div>

  <div id="signUpForm">
    <h1>SignIn</h1>
    <form id="signUp_form">
      <input id='sign_name' type="text" name="name" placeholder="username"/>
      <input id='sign_pass' type="password" name="password" placeholder="Password"/>
      <input type="submit" value="新規登録"/>
    </form>
  </div>

</div>

<div id="footer">
  <span>© 2017 Takumi Nakao</span>
</div>


  <%# socket.ioとchat.jsを読み込む%>
  <script src='/socket.io/socket.io.js'></script>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src='javascripts/index.js'></script>

<%# footer.ejsの読み込み%>
<%- include('footer') -%>
