<%# header.ejsの読み込み%>
<%- include('header') -%>

<div id="contents">
  <div id="content">
    <div id="rankings">
      ダミー　ランキング
    </div>

    <div id="description">
      <h2>シンギュラリティ...</h2>
      <p>2045年にくるとされている技術的特異点</p>
    </div>
  </div>

  <a id='startBtn' href="/game">
    <div class="button">
      <span>とりあえず始める</span>
    </div>
  </a>

  <div id='signUpBtn' class="button">
    <span>新規登録</span>
  </div>

  <div id='loginBtn' class="button">
    <span>ログイン</span>
  </div>

  <div id="loginForm">
    <h1>ログイン</h1>
    <form action="/login" method="post">
      <div>
          <label>ユーザーID：</label>
          <input type="text" name="username"/>
      </div>
      <div>
          <label>パスワード：</label>
          <input type="password" name="password"/>
      </div>
      <div>
          <input type="submit" value="ログイン"/>
      </div>
    </form>
  </div>

</div>

<div id="footer">
  <span>footer</span>
</div>


  <%# socket.ioとchat.jsを読み込む%>
  <script src='/socket.io/socket.io.js'></script>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src='javascripts/index.js'></script>

<%# footer.ejsの読み込み%>
<%- include('footer') -%>
